/* リセットcss */
html, body, header, main, footer {
  padding: 0px;
  margin: 0px;
}

header {
  background-color: brown;
  height: 500px;
  font-size: 50px;
}

top-cotent{
  width: 300px;
  height: 300px;
}

main {
  height: 500px;
  background-color: burlywood;
  padding: 10px 0;
  display: flex;
  font-size: 20px;
}



footer {
  background-color: cadetblue;
  height: 500px;
}