/* リセットcss */
html, body, header, main, footer {
  padding: 0px;
  margin: 0px;
}

header {
  background-color: brown;
  height: 500px;
}

main {
  background-color: burlywood;
  height: 500px;
}

footer {
  background-color: cadetblue;
  height: 500px;
}